<div class="row justify-content-center">
    <img src="<%= @user.avatar_url %>" alt="host-image" class="rounded-circle" style="height: 88px; width: auto;">
    <h4 class="text-center mb-5 mt-3"><%= @user.first_name %> <%= @user.last_name %></h4>
</div>
  <div class="row justify-content-center">
    <div class="col-4">
      <% @bookings.each do |booking| %>
        <div class="card pt-2 w-100 mb-3" style="background-color: #F9F2E7">
          <div class="card-body" style="gap: 40px;">
            <div class="d-flex mb-1" style="gap: 8px;">
              <h5 class="card-text"><%= booking.activity.name %></h5>
            </div>
            <div class="d-flex" style="gap: 8px;">
              <p class="card-text text-secondary">Date and time:</p>
              <p class="card-text"><%= booking.start_time %></p>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <div class="d-flex justify-content-center">
        <%= link_to "Log out", destroy_user_session_path, class: "btn btn-outline-danger", data: {turbo_method: :delete} %>
      </div>
    </div>
 </div>
