<%= render "layouts/bannerhome" %>
<div class="container mt-1">
  <div class="d-flex justify-content-center">
    <div class="container text-center mb-3 mt-5">
      <h2>Browse Activities</h2>
      <p>Your ultimate paths for mindful living</p>
    </div>
  </div>
  <div class="main-grid mb-4" style="margin-top: 32px;">
    <% @activities[-3..-1].each do |activity| %>
      <%= link_to(activity_path(activity)) do %>
        <div class="card" style="background-color: #F9F2E7;">
          <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo.key, crop: :fill, class: "card-img-top" %>
          <% else %>
            <img src="<%= activity.img_url %>" class="card-img-top" alt="<%= activity.name %>">
          <% end %>
          <div class="card-body" style="border: 0.5px solid #B68E6B;">
            <div class="d-flex justify-content-between">
              <h4 class="card-title"><%= activity.name %></h4>
              <p style="font-weight: 600; font-size: 18px;"><%= activity.price %>€</p>
            </div>
            <div class="d-flex" style="gap: 16px;">
              <p class="text-secondary mb-0"><%= activity.location %></p>
              <p class="text-secondary mb-0"><%= activity.duration %> min</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "layouts/home_section" %>
