<h1>Activities</h1>
<div class="main-grid">
  <% @activities.each do |activity| %>
    <%= link_to(activity_path(activity)) do %>
      <div class="card" style="width: 19rem;">
        <img src="<%= activity.img_url %>" class="card-img-top img-fluid" alt="<%= activity.name %> Poster">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= activity.name %></h5>
            <h6 style="font-weight: 300;"><%= activity.price %></h6>
          </div>
            <p class="text-secondary"><%= activity.location %></p>
            <p><%= activity.duration %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
