<img src="<%= @activity.img_url %>" class="card-img-top" alt="<%= @activity.name %> Poster">
<div class="container">
  <div class="content d-flex justify-content-between">
    <div>
      <h3 class="mb-4"><%= @activity.name %></h3>
      <h5><i data-feather="map-pin" class="location_pin"></i><%= @activity.location %></h5>
      <p class="description w-50">Hatha yoga focuses on posture and breathing techniques, traditionally to channel vital energy source. In Sanskrit, Hatha translates to force. The practice involves breath, body, and mind, and classes are usually 45 minutes to 90 minutes of breathing, yoga poses, and meditation</p>
      <div class="d-flex align-items-center">
        <img src="<%= @activity.user.avatar_url %>" alt="" class="rounded-circle smaller-img">
        <p class="m-0 py-0 owner">
          <%= @activity.user.first_name%> <%= @activity.user.last_name %>
        </p>
      </div>
    </div>
    <div>
      <p class="mb-4"><%= @activity.price %><span class="h6">€</span></p>
      <p><i data-feather="clock" class="w-25"></i><%= @activity.duration %></p>
      <%= link_to "Book", "#", class: "btn btn-primary"%>
    </div>
  </div>
</div>
