<!DOCTYPE html>
<html>
  <head>
    <title>WellnessApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="page-container">
      <%= render "shared/navbar" %>
        <div id="content-wrap">
            <%= yield %>
        </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
